



<h2>{{ tag.name|title }}</h2>
{% if tag.startup_set.all %}
    <section>
        <h3>Startup{{ tag.startup_set.count|pluralize }}</h3>
        <p>
            Tag is associated with
            {{ tag.startup_set.count }}
            startup{{ tag.startup_set.count|pluralize }}.
        </p>
        <ul>
            {% for startup in tag.startup_set.all %}
                <li>
                    <a href="">
                    {{ startup.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}
{% if tag.blog_posts.all %}
<section>
    <h3>Blog Post{{ tag.blog_posts.count|pluralize }}</h3>
    <ul>
        {% for post in tag.blog_posts.all %}
            <li>
                <a href="">
                {{ post.title|title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</section>