<h2>Tag List</h2>
{% if tag_list %}
    <ul>
        {% for tag in tag_list %}
            <li><a href="">{{ tag.tag|title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p><em>There are currently no Tags available.</em></p>
{% endif %}


<h2>Tag List</h2>
<ul>
    {% if tag_list %}
    {% for tag in tag_list %}
        <li><a href="">{{ tag.name|title }}</a></li>
    {% endfor %}
    {% else %}
    <li><em>There are currently no Tags available.</em></li>
{% endif %}
</ul>