<h2>Lista de Tags</h2>

<ul>
    {% for tag in tag_list %}
        <li>
            <a href="">
                {{ tag.tag|title }}
            </a>
        </li>
    {% empty %}
        <li><em>There are currently no Tags available.</em></li>
    {% endfor %}
</ul>
