{% extends 'base.html' %}

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">26</div>
                        <div>Nuevos comentarios</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">12</div>
                        <div>Nuevas tareas</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-send fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">12</div>
                        <div>Peticiones</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">13</div>
                        <div>Support Tickets!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Ejemplo de Area Chart
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="morris-area-chart" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <svg height="357" version="1.1" width="977.984375" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative;">
                        <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc>
                        <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                        <text x="50.5" y="323" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none"
                              fill="#888888"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                              font-weight="normal">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
                        </text>
                        <path fill="none" stroke="#aaaaaa" d="M63,323H952.984375" stroke-width="0.5"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <text x="50.5" y="248.5" text-anchor="end" font-family="sans-serif" font-size="12px"
                              stroke="none" fill="#888888"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                              font-weight="normal">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">7,500</tspan>
                        </text>
                        <path fill="none" stroke="#aaaaaa" d="M63,248.5H952.984375" stroke-width="0.5"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <text x="50.5" y="174" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none"
                              fill="#888888"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                              font-weight="normal">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15,000</tspan>
                        </text>
                        <path fill="none" stroke="#aaaaaa" d="M63,174H952.984375" stroke-width="0.5"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <text x="50.5" y="99.5" text-anchor="end" font-family="sans-serif" font-size="12px"
                              stroke="none" fill="#888888"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                              font-weight="normal">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">22,500</tspan>
                        </text>
                        <path fill="none" stroke="#aaaaaa" d="M63,99.5H952.984375" stroke-width="0.5"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <text x="50.5" y="25" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none"
                              fill="#888888"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                              font-weight="normal">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30,000</tspan>
                        </text>
                        <path fill="none" stroke="#aaaaaa" d="M63,25H952.984375" stroke-width="0.5"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <text x="952.984375" y="335.5" text-anchor="middle" font-family="sans-serif" font-size="12px"
                              stroke="none" fill="#888888"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                              font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012-06</tspan>
                        </text>
                        <text x="853.5364728368183" y="335.5" text-anchor="middle" font-family="sans-serif"
                              font-size="12px" stroke="none" fill="#888888"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                              font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012-03</tspan>
                        </text>
                        <text x="755.1249556984457" y="335.5" text-anchor="middle" font-family="sans-serif"
                              font-size="12px" stroke="none" fill="#888888"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                              font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011-12</tspan>
                        </text>
                        <text x="656.668378341603" y="335.5" text-anchor="middle" font-family="sans-serif"
                              font-size="12px" stroke="none" fill="#888888"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                              font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011-09</tspan>
                        </text>
                        <text x="557.1754159599514" y="335.5" text-anchor="middle" font-family="sans-serif"
                              font-size="12px" stroke="none" fill="#888888"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                              font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011-06</tspan>
                        </text>
                        <text x="457.72751379676976" y="335.5" text-anchor="middle" font-family="sans-serif"
                              font-size="12px" stroke="none" fill="#888888"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                              font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011-03</tspan>
                        </text>
                        <text x="360.39744190167585" y="335.5" text-anchor="middle" font-family="sans-serif"
                              font-size="12px" stroke="none" fill="#888888"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                              font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2010-12</tspan>
                        </text>
                        <text x="261.9408645448332" y="335.5" text-anchor="middle" font-family="sans-serif"
                              font-size="12px" stroke="none" fill="#888888"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                              font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2010-09</tspan>
                        </text>
                        <text x="162.4479021631816" y="335.5" text-anchor="middle" font-family="sans-serif"
                              font-size="12px" stroke="none" fill="#888888"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                              font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2010-06</tspan>
                        </text>
                        <text x="63" y="335.5" text-anchor="middle" font-family="sans-serif" font-size="12px"
                              stroke="none" fill="#888888"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                              font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2010-03</tspan>
                        </text>
                        <path fill="#7cb57c" stroke="none"
                              d="M63,270.2242C87.8619755407954,264.76086666666663,137.58592662238618,253.4220639750849,162.4479021631816,248.37086666666664C187.32114275859448,243.31738064175158,237.0676239494203,236.72031483420594,261.9408645448332,229.80546666666666C286.55500888404384,222.96264816753927,335.7832975624652,195.3820058112773,360.39744190167585,193.34019999999998C384.7299598754493,191.3217558112773,433.3949958229963,212.07944811846423,457.72751379676976,213.56446666666665C482.58948933756517,215.08179811846423,532.313440419156,204.33911226123067,557.1754159599514,205.3496C582.0486565553642,206.360545594564,631.7951377461901,239.58761570680628,656.668378341603,221.65019999999998C681.2825226808136,203.89963237347294,730.510811359235,71.25654810406654,755.1249556984457,62.59766666666667C779.7278349830389,53.94274810406653,828.9335935522251,139.69876123889773,853.5364728368183,152.39499999999998C878.3984483776137,165.22494457223107,928.1223994592046,161.62554999999998,952.984375,164.70239999999998L952.984375,323L63,323Z"
                              fill-opacity="1"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path>
                        <path fill="none" stroke="#4da74d"
                              d="M63,270.2242C87.8619755407954,264.76086666666663,137.58592662238618,253.4220639750849,162.4479021631816,248.37086666666664C187.32114275859448,243.31738064175158,237.0676239494203,236.72031483420594,261.9408645448332,229.80546666666666C286.55500888404384,222.96264816753927,335.7832975624652,195.3820058112773,360.39744190167585,193.34019999999998C384.7299598754493,191.3217558112773,433.3949958229963,212.07944811846423,457.72751379676976,213.56446666666665C482.58948933756517,215.08179811846423,532.313440419156,204.33911226123067,557.1754159599514,205.3496C582.0486565553642,206.360545594564,631.7951377461901,239.58761570680628,656.668378341603,221.65019999999998C681.2825226808136,203.89963237347294,730.510811359235,71.25654810406654,755.1249556984457,62.59766666666667C779.7278349830389,53.94274810406653,828.9335935522251,139.69876123889773,853.5364728368183,152.39499999999998C878.3984483776137,165.22494457223107,928.1223994592046,161.62554999999998,952.984375,164.70239999999998"
                              stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <circle cx="63" cy="270.2242" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="162.4479021631816" cy="248.37086666666664" r="2" fill="#4da74d" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="261.9408645448332" cy="229.80546666666666" r="2" fill="#4da74d" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="360.39744190167585" cy="193.34019999999998" r="2" fill="#4da74d" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="457.72751379676976" cy="213.56446666666665" r="2" fill="#4da74d" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="557.1754159599514" cy="205.3496" r="2" fill="#4da74d" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="656.668378341603" cy="221.65019999999998" r="2" fill="#4da74d" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="755.1249556984457" cy="62.59766666666667" r="2" fill="#4da74d" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="853.5364728368183" cy="152.39499999999998" r="2" fill="#4da74d" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="952.984375" cy="164.70239999999998" r="2" fill="#4da74d" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <path fill="#a8b4bd" stroke="none"
                              d="M63,296.51773333333335C87.8619755407954,290.54283333333336,137.58592662238618,277.8505729143073,162.4479021631816,272.61813333333333C187.32114275859448,267.38332291430726,237.0676239494203,257.5095333333333,261.9408645448332,254.64873333333333C286.55500888404384,251.81773333333334,335.7832975624652,252.15249181051016,360.39744190167585,249.85093333333333C384.7299598754493,247.57570847717682,433.3949958229963,239.5339599725212,457.72751379676976,236.3416C482.58948933756517,233.07977663918786,532.313440419156,223.89888898829747,557.1754159599514,224.0342C582.0486565553642,224.1695723216308,631.7951377461901,251.25028516579405,656.668378341603,237.42433333333332C681.2825226808136,223.74240183246073,730.510811359235,122.11508972304873,755.1249556984457,114.00266666666664C779.7278349830389,105.8939563897154,828.9335935522251,164.02335226599862,853.5364728368183,172.53979999999999C878.3984483776137,181.14593559933195,928.1223994592046,180.00469999999999,952.984375,182.493L952.984375,323L63,323Z"
                              fill-opacity="1"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path>
                        <path fill="none" stroke="#7a92a3"
                              d="M63,296.51773333333335C87.8619755407954,290.54283333333336,137.58592662238618,277.8505729143073,162.4479021631816,272.61813333333333C187.32114275859448,267.38332291430726,237.0676239494203,257.5095333333333,261.9408645448332,254.64873333333333C286.55500888404384,251.81773333333334,335.7832975624652,252.15249181051016,360.39744190167585,249.85093333333333C384.7299598754493,247.57570847717682,433.3949958229963,239.5339599725212,457.72751379676976,236.3416C482.58948933756517,233.07977663918786,532.313440419156,223.89888898829747,557.1754159599514,224.0342C582.0486565553642,224.1695723216308,631.7951377461901,251.25028516579405,656.668378341603,237.42433333333332C681.2825226808136,223.74240183246073,730.510811359235,122.11508972304873,755.1249556984457,114.00266666666664C779.7278349830389,105.8939563897154,828.9335935522251,164.02335226599862,853.5364728368183,172.53979999999999C878.3984483776137,181.14593559933195,928.1223994592046,180.00469999999999,952.984375,182.493"
                              stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <circle cx="63" cy="296.51773333333335" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="162.4479021631816" cy="272.61813333333333" r="2" fill="#7a92a3" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="261.9408645448332" cy="254.64873333333333" r="2" fill="#7a92a3" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="360.39744190167585" cy="249.85093333333333" r="2" fill="#7a92a3" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="457.72751379676976" cy="236.3416" r="2" fill="#7a92a3" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="557.1754159599514" cy="224.0342" r="2" fill="#7a92a3" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="656.668378341603" cy="237.42433333333332" r="2" fill="#7a92a3" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="755.1249556984457" cy="114.00266666666664" r="2" fill="#7a92a3" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="853.5364728368183" cy="172.53979999999999" r="2" fill="#7a92a3" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="952.984375" cy="182.493" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <path fill="#2677b5" stroke="none"
                              d="M63,296.51773333333335C87.8619755407954,296.2396,137.58592662238618,298.1933516723292,162.4479021631816,295.4052C187.32114275859448,292.6157850056625,237.0676239494203,275.44190436300175,261.9408645448332,274.2074666666667C286.55500888404384,272.9858876963351,335.7832975624652,287.9513764096663,360.39744190167585,285.58113333333336C384.7299598754493,283.2380097429996,433.3949958229963,257.69146095717883,457.72751379676976,255.35399999999998C482.58948933756517,252.9656776238455,532.313440419156,264.2076429973575,557.1754159599514,266.678C582.0486565553642,269.14947633069085,631.7951377461901,286.8578527050611,656.668378341603,275.1213333333333C681.2825226808136,263.50706937172777,730.510811359235,180.56139239719235,755.1249556984457,173.27486666666667C779.7278349830389,165.99167573052569,828.9335935522251,208.6397502922645,853.5364728368183,216.84246666666667C878.3984483776137,225.13156695893116,928.1223994592046,233.64221666666666,952.984375,239.24213333333333L952.984375,323L63,323Z"
                              fill-opacity="1"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path>
                        <path fill="none" stroke="#0b62a4"
                              d="M63,296.51773333333335C87.8619755407954,296.2396,137.58592662238618,298.1933516723292,162.4479021631816,295.4052C187.32114275859448,292.6157850056625,237.0676239494203,275.44190436300175,261.9408645448332,274.2074666666667C286.55500888404384,272.9858876963351,335.7832975624652,287.9513764096663,360.39744190167585,285.58113333333336C384.7299598754493,283.2380097429996,433.3949958229963,257.69146095717883,457.72751379676976,255.35399999999998C482.58948933756517,252.9656776238455,532.313440419156,264.2076429973575,557.1754159599514,266.678C582.0486565553642,269.14947633069085,631.7951377461901,286.8578527050611,656.668378341603,275.1213333333333C681.2825226808136,263.50706937172777,730.510811359235,180.56139239719235,755.1249556984457,173.27486666666667C779.7278349830389,165.99167573052569,828.9335935522251,208.6397502922645,853.5364728368183,216.84246666666667C878.3984483776137,225.13156695893116,928.1223994592046,233.64221666666666,952.984375,239.24213333333333"
                              stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <circle cx="63" cy="296.51773333333335" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="162.4479021631816" cy="295.4052" r="2" fill="#0b62a4" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="261.9408645448332" cy="274.2074666666667" r="2" fill="#0b62a4" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="360.39744190167585" cy="285.58113333333336" r="2" fill="#0b62a4" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="457.72751379676976" cy="255.35399999999998" r="2" fill="#0b62a4" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="557.1754159599514" cy="266.678" r="2" fill="#0b62a4" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="656.668378341603" cy="275.1213333333333" r="2" fill="#0b62a4" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="755.1249556984457" cy="173.27486666666667" r="2" fill="#0b62a4" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="853.5364728368183" cy="216.84246666666667" r="2" fill="#0b62a4" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="952.984375" cy="239.24213333333333" r="2" fill="#0b62a4" stroke="#ffffff"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                    </svg>
                    <div class="morris-hover morris-default-style" style="left: 400.892px; top: 151px; display: none;">
                        <div class="morris-hover-row-label">2011 Q1</div>
                        <div class="morris-hover-point" style="color: #0b62a4">
                            iPhone:
                            6,810
                        </div>
                        <div class="morris-hover-point" style="color: #7A92A3">
                            iPad:
                            1,914
                        </div>
                        <div class="morris-hover-point" style="color: #4da74d">
                            iPod Touch:
                            2,293
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Ejemplo de Bar Chart
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>3326</td>
                                    <td>10/21/2013</td>
                                    <td>3:29 PM</td>
                                    <td>$321.33</td>
                                </tr>
                                <tr>
                                    <td>3325</td>
                                    <td>10/21/2013</td>
                                    <td>3:20 PM</td>
                                    <td>$234.34</td>
                                </tr>
                                <tr>
                                    <td>3324</td>
                                    <td>10/21/2013</td>
                                    <td>3:03 PM</td>
                                    <td>$724.17</td>
                                </tr>
                                <tr>
                                    <td>3323</td>
                                    <td>10/21/2013</td>
                                    <td>3:00 PM</td>
                                    <td>$23.71</td>
                                </tr>
                                <tr>
                                    <td>3322</td>
                                    <td>10/21/2013</td>
                                    <td>2:49 PM</td>
                                    <td>$8345.23</td>
                                </tr>
                                <tr>
                                    <td>3321</td>
                                    <td>10/21/2013</td>
                                    <td>2:23 PM</td>
                                    <td>$245.12</td>
                                </tr>
                                <tr>
                                    <td>3320</td>
                                    <td>10/21/2013</td>
                                    <td>2:15 PM</td>
                                    <td>$5663.54</td>
                                </tr>
                                <tr>
                                    <td>3319</td>
                                    <td>10/21/2013</td>
                                    <td>2:13 PM</td>
                                    <td>$943.45</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.col-lg-4 (nested) -->
                    <div class="col-lg-8">
                        <div id="morris-bar-chart"
                             style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                            <svg height="357" version="1.1" width="641.984375" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 style="overflow: hidden; position: relative; left: -0.984375px;">
                                <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël
                                    2.2.0
                                </desc>
                                <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                                <text x="33.5" y="323" text-anchor="end" font-family="sans-serif" font-size="12px"
                                      stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal">
                                    <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
                                </text>
                                <path fill="none" stroke="#aaaaaa" d="M46,323H616.984375" stroke-width="0.5"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="33.5" y="248.5" text-anchor="end" font-family="sans-serif" font-size="12px"
                                      stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal">
                                    <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">25</tspan>
                                </text>
                                <path fill="none" stroke="#aaaaaa" d="M46,248.5H616.984375" stroke-width="0.5"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="33.5" y="174" text-anchor="end" font-family="sans-serif" font-size="12px"
                                      stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal">
                                    <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">50</tspan>
                                </text>
                                <path fill="none" stroke="#aaaaaa" d="M46,174H616.984375" stroke-width="0.5"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="33.5" y="99.5" text-anchor="end" font-family="sans-serif" font-size="12px"
                                      stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal">
                                    <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">75</tspan>
                                </text>
                                <path fill="none" stroke="#aaaaaa" d="M46,99.5H616.984375" stroke-width="0.5"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="33.5" y="25" text-anchor="end" font-family="sans-serif" font-size="12px"
                                      stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal">
                                    <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">100</tspan>
                                </text>
                                <path fill="none" stroke="#aaaaaa" d="M46,25H616.984375" stroke-width="0.5"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="576.1997767857143" y="335.5" text-anchor="middle" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                                    <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan>
                                </text>
                                <text x="494.63058035714283" y="335.5" text-anchor="middle" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                                    <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011</tspan>
                                </text>
                                <text x="413.06138392857144" y="335.5" text-anchor="middle" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                                    <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2010</tspan>
                                </text>
                                <text x="331.4921875" y="335.5" text-anchor="middle" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                                    <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2009</tspan>
                                </text>
                                <text x="249.92299107142858" y="335.5" text-anchor="middle" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                                    <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2008</tspan>
                                </text>
                                <text x="168.35379464285714" y="335.5" text-anchor="middle" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                                    <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2007</tspan>
                                </text>
                                <text x="86.78459821428572" y="335.5" text-anchor="middle" font-family="sans-serif"
                                      font-size="12px" stroke="none" fill="#888888"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                                      font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                                    <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2006</tspan>
                                </text>
                                <rect x="56.19614955357143" y="25" width="29.088448660714285" height="298" rx="0" ry="0"
                                      fill="#0b62a4" stroke="none" fill-opacity="1"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                <rect x="88.28459821428572" y="54.80000000000001" width="29.088448660714285"
                                      height="268.2" rx="0" ry="0" fill="#7a92a3" stroke="none" fill-opacity="1"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                <rect x="137.76534598214286" y="99.5" width="29.088448660714285" height="223.5" rx="0"
                                      ry="0" fill="#0b62a4" stroke="none" fill-opacity="1"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                <rect x="169.85379464285714" y="129.3" width="29.088448660714285" height="193.7" rx="0"
                                      ry="0" fill="#7a92a3" stroke="none" fill-opacity="1"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                <rect x="219.33454241071428" y="174" width="29.088448660714285" height="149" rx="0"
                                      ry="0" fill="#0b62a4" stroke="none" fill-opacity="1"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                <rect x="251.42299107142856" y="203.8" width="29.088448660714285"
                                      height="119.19999999999999" rx="0" ry="0" fill="#7a92a3" stroke="none"
                                      fill-opacity="1"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                <rect x="300.9037388392857" y="99.5" width="29.088448660714285" height="223.5" rx="0"
                                      ry="0" fill="#0b62a4" stroke="none" fill-opacity="1"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                <rect x="332.9921875" y="129.3" width="29.088448660714285" height="193.7" rx="0" ry="0"
                                      fill="#7a92a3" stroke="none" fill-opacity="1"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                <rect x="382.47293526785717" y="174" width="29.088448660714285" height="149" rx="0"
                                      ry="0" fill="#0b62a4" stroke="none" fill-opacity="1"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                <rect x="414.56138392857144" y="203.8" width="29.088448660714285"
                                      height="119.19999999999999" rx="0" ry="0" fill="#7a92a3" stroke="none"
                                      fill-opacity="1"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                <rect x="464.0421316964286" y="99.5" width="29.088448660714285" height="223.5" rx="0"
                                      ry="0" fill="#0b62a4" stroke="none" fill-opacity="1"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                <rect x="496.1305803571429" y="129.3" width="29.088448660714285" height="193.7" rx="0"
                                      ry="0" fill="#7a92a3" stroke="none" fill-opacity="1"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                <rect x="545.611328125" y="25" width="29.088448660714285" height="298" rx="0" ry="0"
                                      fill="#0b62a4" stroke="none" fill-opacity="1"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                                <rect x="577.6997767857143" y="54.80000000000001" width="29.088448660714285"
                                      height="268.2" rx="0" ry="0" fill="#7a92a3" stroke="none" fill-opacity="1"
                                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                            </svg>
                            <div class="morris-hover morris-default-style"
                                 style="left: 42.2846px; top: 143px; display: none;">
                                <div class="morris-hover-row-label">2006</div>
                                <div class="morris-hover-point" style="color: #0b62a4">
                                    Series A:
                                    100
                                </div>
                                <div class="morris-hover-point" style="color: #7a92a3">
                                    Series B:
                                    90
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-8 (nested) -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Panel de notificaciones
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <i class="fa fa-comment fa-fw"></i> Nuevo comentario
                        <span class="pull-right text-muted small"><em>hace 4 minutos</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-twitter fa-fw"></i> 3 nuevos seguidores
                        <span class="pull-right text-muted small"><em>hace 12 minutos</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-envelope fa-fw"></i> Mensaje enviado
                        <span class="pull-right text-muted small"><em>hace 27 minutos</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-tasks fa-fw"></i> Nueva tarea
                        <span class="pull-right text-muted small"><em>hace 43 minutos</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-upload fa-fw"></i> Servidor reiniciado
                        <span class="pull-right text-muted small"><em>11:32 AM</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-bolt fa-fw"></i> Problema con el servidor!
                        <span class="pull-right text-muted small"><em>11:13 AM</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-warning fa-fw"></i> Servidor no responde
                        <span class="pull-right text-muted small"><em>10:57 AM</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-shopping-cart fa-fw"></i> Nuevo envio
                        <span class="pull-right text-muted small"><em>9:49 AM</em>
                                    </span>
                    </a>
                </div>
                <!-- /.list-group -->
                <a href="#" class="btn btn-default btn-block">Ver todas</a>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Ejemplo de Donut Chart
            </div>
            <div class="panel-body">
                <div id="morris-donut-chart">
                    <svg height="357" version="1.1" width="457.984375" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         style="overflow: hidden; position: relative; left: -0.984375px;">
                        <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc>
                        <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                        <path fill="none" stroke="#0b62a4"
                              d="M228.9921875,295A114,114,0,0,0,336.60374060728583,218.6265018017594" stroke-width="2"
                              opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                        <path fill="#0b62a4" stroke="#ffffff"
                              d="M228.9921875,298A117,117,0,0,0,339.43562358379336,219.6166729018057L385.68971220008285,235.78946753589526A166,166,0,0,1,228.9921875,347Z"
                              stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <path fill="none" stroke="#3980b5"
                              d="M336.60374060728583,218.6265018017594A114,114,0,0,0,126.72432133321085,130.62854429647973"
                              stroke-width="2" opacity="1"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path>
                        <path fill="#3980b5" stroke="#ffffff"
                              d="M339.43562358379336,219.6166729018057A117,117,0,0,0,124.03306169724272,129.3029796727029L75.59038824981627,105.44281644471961A171,171,0,0,1,390.4095171609287,237.4397527026391Z"
                              stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <path fill="none" stroke="#679dc6"
                              d="M126.72432133321085,130.62854429647973A114,114,0,0,0,228.9563733443382,294.9999943743255"
                              stroke-width="2" opacity="0"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                        <path fill="#679dc6" stroke="#ffffff"
                              d="M124.03306169724272,129.3029796727029A117,117,0,0,0,228.95543086655763,297.9999942262815L228.94003706280827,346.9999918082284A166,166,0,0,1,80.07582097642984,107.65209081768101Z"
                              stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <text x="228.9921875" y="171" text-anchor="middle" font-family="&quot;Arial&quot;"
                              font-size="15px" stroke="none" fill="#000000"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 15px; font-weight: 800;"
                              font-weight="800" transform="matrix(1.7654,0,0,1.7654,-175.2583,-139.3025)"
                              stroke-width="0.5664443226120857">
                            <tspan dy="6" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">In-Store Sales</tspan>
                        </text>
                        <text x="228.9921875" y="191" text-anchor="middle" font-family="&quot;Arial&quot;"
                              font-size="14px" stroke="none" fill="#000000"
                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 14px;"
                              transform="matrix(2.375,0,0,2.375,-314.8535,-251.625)" stroke-width="0.42105263157894735">
                            <tspan dy="5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30</tspan>
                        </text>
                    </svg>
                </div>
                <a href="#" class="btn btn-default btn-block">View Details</a>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <!-- /.col-lg-4 -->
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Basic Tabs
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">Home</a>
                        </li>
                        <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">Profile</a>
                        </li>
                        <li class=""><a href="#messages" data-toggle="tab" aria-expanded="false">Messages</a>
                        </li>
                        <li class=""><a href="#settings" data-toggle="tab" aria-expanded="false">Settings</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="home">
                            <h4>Home Tab</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.</p>
                        </div>
                        <div class="tab-pane fade" id="profile">
                            <h4>Profile Tab</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.</p>
                        </div>
                        <div class="tab-pane fade" id="messages">
                            <h4>Messages Tab</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.</p>
                        </div>
                        <div class="tab-pane fade" id="settings">
                            <h4>Settings Tab</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->

    </div>
</div>

